# Backend
fastapi
uvicorn
requests
python-dotenv
dateparser

# Google Calendar API
google-api-python-client
google-auth

# LangChain + Gemini
langchain
langchain-google-genai
google-generativeai

# Frontend
streamlit
